<p>course-create works!</p>

<form [formGroup]="courseForm" (ngSubmit)="onFormSubmit(courseForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Id" formControlName="id"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!courseForm.get('id').valid && courseForm.get('id').touched">Please enter Course's ID</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Title" formControlName="name"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!courseForm.get('name').valid && courseForm.get('name').touched">Please enter Course Title</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Description" formControlName="description"
              [errorStateMatcher]="matcher"></textarea>
    <mat-error>
      <span *ngIf="!courseForm.get('description').valid && courseForm.get('description').touched">Please enter Book Description</span>
    </mat-error>
  </mat-form-field>

  <div class="button-row">
    <button type="submit" [disabled]="!courseForm.valid" mat-raised-button color="primary">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>
