<app-nav-bar></app-nav-bar>

<button routerLink="/course" routerLinkActive="active" type="button" class="btn btn-primary">Courses</button>
<button routerLink="/home" routerLinkActive="active" type="button" class="btn btn-secondary">Home</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button><br>
<a>if the buttons are colorful that means bootstrap works!</a>

<app-footer-bar></app-footer-bar>
